version: "3.9"

services:
  backend:
    build:
      context: ../backend
    container_name: backend
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    env_file:
      - ../backend/.env
    volumes:
      - ../backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  frontend:
    build:
      context: ../frontend
    container_name: frontend
    command: >
      sh -c "npm install && npm run dev"
    volumes:
      - ../frontend:/app
    ports:
      - "3000:3000"
    depends_on:
      - backend

  db:
    image: postgres:15
    container_name: postgres
    env_file:
      - ../backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  celery:
    build:
      context: ../backend
    container_name: celery
    command: celery -A hapi_clone worker -l info
    env_file:
      - ../backend/.env
    volumes:
      - ../backend:/app
    depends_on:
      - backend
      - redis

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend

volumes:
  postgres_data:
